@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.morphx {
  border-radius: 16px;
  /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
  box-shadow: 2px 2px 12px #5a5a5a, -2px -2px 12px #ffffff;
}

.morphx2 {
  border-radius: 16px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #9b9b9b, inset -5px -5px 10px #ffffff;
}

.morphx3 {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 9px 9px 18px #5a5a5a, -9px -9px 18px #ffffff;
}

.logoC {
  border-radius: 32px;
  background: #16a34a;
  box-shadow: inset 5px 5px 10px #0f7033, inset -5px -5px 10px #1dd661;
  text-shadow: 2px 3px 7px black;
}

/* Custom styles for Webkit browsers (Chrome, Safari) */
*::-webkit-scrollbar {
  margin: 10px 0;
  width: 12px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Change the color as needed */
  border-radius: 50px;
}

*::-webkit-scrollbar-track {
  background-color: #cbd5e0; /* Change the color as needed */
  margin: 10px;
  border-radius: 50px;
}

/* Custom styles for non-Webkit browsers */
* {
  scrollbar-width: thin;
  scrollbar-color: #4a5568 #cbd5e0; /* Change the colors as needed */
}

*:hover {
  scrollbar-color: #2d3748 #a0aec0; /* Change the colors on hover as needed */
}
